* {
  box-sizing: border-box;
}

html, body {
  padding:0;
  margin:0;
  position:relative;
}

body {
  font-family: 'Ruda', sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5; 
  background: url(./images/bg.jpg) no-repeat center;
 background-size: cover; 
}

nav,
footer {
  background-color: #0a0e2b;
  color:white;
  padding:0;
  margin:0;
  height: 50px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding:5px;
  background-color: #0a0e2b;
}

.navbar{
  line-height: 38px;
  vertical-align: middle;
  height: 50px;
}

.navbar li{
  display:inline-block;
  font-size: 14px;
  width:80px;  
  color:white;
  cursor:pointer;
  
}

.navbar li:hover {
  border: 1px solid white;
  border-radius:20px;
  background-color: white;
  color: #0a0e2b;
}

.navbar ul{
  margin:0;
  float:right;
  padding-right:10px;  
}
.navbar h1{
  float:left;
  margin:0 0 0 7px;
  color:white;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  font-size:22px;
}

header {  
  
  height: 50vh;
  width:100%;
  margin:0;
  
  display:flex;
 /* align-items: center;*/
  color:#0a0e2b;
 /* background: url(./images/bg.jpg) no-repeat center;
  background-size: cover; */
  float:left;
}



header h3{
  color:#0a0e2b;
  font-size: 28px;
  font-family: 'Indie Flower', cursive;
}

header div{
  width: 100%; 
  margin:0 auto;  
}

header p{
  color: #0a0e2b;
  font-size:18px;
  font-style: italic;
  width:70%;
  margin:0 auto;
}

.profileImgDiv{
  height: 200px;
  width:150px;
  border: 1px solid black;
  border-radius: 105px;
  margin-top: 55px;
  background:url(./images/jayshol_1.jpg);
  background-size: cover; 
}

h3{
  font-family: 'Ruda', sans-serif;
}

.picClass{
  height:100%;
  width:100%;   
}

#page-contact {
  height: 94vh;
  width: 100%;  
 /* display:none;*/
  display:flex;
  align-items: center;
}

#page-projects{
 /* height: 94vh; */
  width:100%;
 /* display:none; */
  padding-top:50px;  
}

#page-about{
 /*background: url(./images/bg.jpg) no-repeat center;
 background-size: cover;*/
  clear:both;
  height:50%;
  overflow:visible;
}

#page-about h3{
  padding:29px 0 18px 0;
}

.profileDiv{
  background-color: #2c9bb9;
}


.coverDiv{
  width:100%;
 /* overflow-y: auto;*/
  height:93%;
}

.coverDiv h1{
  text-align: center;
}

.projectsCls{
  width: 80%;
  height: auto;   
  margin: 15px auto 35px auto;
 /* background-color: white; */
}

.demoDiv{
  border: 1px solid #0092ff;
  width: 60px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  font-size: 12px;
  border-radius: 15px;
  color: white;
  background-color: #0092ff;
  display: inline-block;
  /*float:left;*/
}

.gitDiv{
  border: 1px solid #0092ff;
  width: 60px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  font-size: 12px;
  border-radius: 15px;
  color: white;
  background-color: #0092ff;
  margin-left:15px;
  display:inline-block;
  /*float:left;*/
}

.serverCls{
  width:90px;
}

.projectsCls h4{
  text-align: left;
  margin:0;
}
.projectsCls span{
  background-color: #0a0e2b;
  color:white;
  padding:3px;
  border-radius: 5px;
}

.projectsCls img{
  height: 50%;
  width: 99%;
  border: 1px solid black;
  margin: 15px auto 15px auto;
  border-radius:15px;
}

.projectsCls p{
  text-align: center;
  font-size: 13.5px;
  margin: 5px 25% 10px 25%;
  font-family: 'Ruda', sans-serif;
  width: 50%;
}

.projectsCls h5{
  text-align: left;
  margin: 0 5px;
}
a p{
 /* color:blue; */ 
 display:inline-block;
}

main{
  margin:43px 0 0 0;  
  padding:0;
  width:100%;
  color:#0a0e2b; 
}

.footerList li{
  list-style-type: none;
  display: inline;  
}

.footerList i{
  margin-right: 15px;
  cursor:pointer;
}

.footerList{
  margin: 0;
  line-height: 50px;
  vertical-align: middle;
  width:100%;
}

.contactCls{
  width:100%;
}

.contactCls li {
  list-style-type: none;
  display: inline;
}

.contactCls div{
  width: 100%;
}

.contactCls i{
  margin-right: 7px;
  cursor:pointer;
}
.contactCls p {  
  margin: 0 auto;
 /* width: 50%;*/
  font-size: 14px;  
}

footer{
  position:absolute;
  bottom:0;
  width:100%;
}

a {
  color:inherit;
  text-decoration: none;
}

.parentCls{
 /* display:table;*/
}

.imageClass{
  display: inline-block;
/*  border:1px solid black;*/
  height: 75vh;
  width: 40%;
  vertical-align: top;
 
}

.descClass{
  display: inline-block;
/*  border:1px solid black; */
  height: 75vh;
  width: 32%; 
  /*background-color: #2c9bb9; */
}

.descText{
  height:80%;
  width: 99%;
 /* border: 2px solid blue;*/
  padding: 15px;
}

.descText p{
  font-size:12px;
  width:auto;
  height:auto;
  margin:10px;
  text-align: left;
  max-width:75%;
}

.descText h6{
  text-align: left;
  margin:7px;
}

.descText span{
  margin:3px;
  display: inline-block;  
}

@media only screen and (max-width: 600px),
    only screen and (max-width:767px){

    .navbar h1{
      font-size:12px;
    }

    .navbar ul{
      padding:0;
    }

    .navbar li{
      font-size: 10px;
      width: 38px;
      margin-right: 3px;
    }

    .projectsCls img{
      height: 60%;
      width: 90%;
      border: 1px solid black;
      margin: 15px auto 15px auto;
    }

    header p{
      font-size: 14px;
    }
    footer ul{
      padding:0;
    }

    .contactCls ul{
      padding:0;
    }

    .projectsCls p{
      width:auto;
      margin:3px;
    }

    #page-about h3{
      padding:10px;
    }
    .imageClass{
      width:100%;
      height: auto;
    }

    .descClass{
      width:90%;
      height:auto;
    }
    .descText{
      padding:0;
    }

    .descText p{
      max-width: 100%;
    }
    .contactCls p{
      margin: 0 5px;
      font-size: 12px;
    }
}

/* galaxy s */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .navbar h1{
      font-size:12px;
    }

    .navbar ul{
      padding:0;
    }

    .navbar li{
      font-size: 12px;
      width: 38px;
      margin-right: 6px;
    }

    .projectsCls img{
      height: 65%;
      width: 60%;
      border: 1px solid black;
      margin: 15px auto 15px auto;
    }

    header p{
      font-size: 14px;
    }
    footer ul{
      padding:0;
    }

    .contactCls ul{
      padding:0;
    }
  }

  /* iphone x */

  @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

      .navbar h1{
        font-size:14px;
      }

      .navbar ul{
        padding:0;
      }

      .navbar li{
        font-size: 12px;
        width: 38px;
        margin-right: 6px;
      }

      .projectsCls img{
        height: 65%;
        width: 60%;
        border: 1px solid black;
        margin: 15px auto 15px auto;
      }

      header p{
        font-size: 14px;
      }
      footer ul{
        padding:0;
      }

      .contactCls ul{
        padding:0;
      }
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      .navbar h1{
        font-size:14px;
      }

      .navbar ul{
        padding:0;
      }

      .navbar li{
        font-size: 12px;
        width: 38px;
        margin-right: 6px;
      }

      .projectsCls img{
        height: 65%;
        width: 60%;
        border: 1px solid black;
        margin: 15px auto 15px auto;
      }

      header p{
        font-size: 14px;
      }
      footer ul{
        padding:0;
      }

      .contactCls ul{
        padding:0;
      }
    }

    /* iphone 5 SE */
     @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 378px)  {
        .navbar li{
          font-size: 10.5px;
          width:38px;
        }
        .profileImgDiv{
          height: 170px;
          width: 150px;
          margin-top: 35px;
        }
        .projectsCls{
          margin:0px auto 35px auto;
        }

        .projectsClas h5{
          margin-top:29px;
        }
        .imageClass{
          height:42vh;
        }

    }

    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 568px)  {
      .navbar h1{
        font-size:14px;
      }

      .navbar ul{
        padding:0;
      }

      .navbar li{
        font-size: 12px;
        width: 45px;
        margin-right: 3px;
      }

      .projectsCls img{
        height: 65%;
        width: 90%;
        border: 1px solid black;
        margin: 15px auto 15px auto;
      }

      header p{
        font-size: 14px;
      }
      footer ul{
        padding:0;
      }
      #page-about h3{
        font-size:14px;
      }

      .contactCls ul{
        padding:0;
      }
      ..contactCls p{
        font-size:16px;
      }
      .projectsCls p{
        font-size:13.8px;
      }
      #page-projects h3{
        font-size:16px;
      }
      .projectsCls h5, h6{
        font-size:14px;
      }
      .demoDiv, .gitDiv{
        font-size:12px;
        width:70px;
        margin-bottom:5px;
      }
      .serverCls{
        width:80px;
      }

      .descClass{
        margin:10px;
      }
      .contactCls i{
        font-size: 14px;
      }
      .footerList i{
        font-size: 16px;
      }
      .projectsCls h5, h6{
        margin-top: 5px;
      }
          
    }
/* ipad */
@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px)  {

   #page-about{
    height: 50vh;
   }

   .profileImgDiv{
    height: 250px; 
    width: 200px;
    margin-top: 155px;
   }
   .navbar h1 {
    font-size:32px;
   }

   .navbar li{
    font-size:20px;
   }

   #page-about h3 {
    padding: 69px 0 0 0;
   }
   #page-about .projectsCls p{
    font-size:21.5px;
    width:auto;
    margin:0;
   }
   .imageClass{
      width:100%;
      height: 32vh;
    }

    .projectsCls img{
      width: 93%;
      height:75%;
    }

    .descClass{
      width:90%;
      height:auto;
    }
    .descText h5, h6{
      font-size: 24px;
    }
    .descText p{
      font-size:22px;
      max-width: 99%;
    }
    .demoDiv, .gitDiv{
      font-size:22px;
      width:95px;
    }

    .serverCls{
      width:150px;
    }

    .contactCls p{
      font-size:24px;
    }
 }


    



